@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

hr {
    margin: 30px auto 30px auto;
    background-color: rgb(53, 126, 221);
    width: 60%;
    height: 7px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.title {
	color: #357EDD;
	text-shadow: 1px 1px 1px white;
    font-family: 'Staatliches', cursive;
    font-size: 5em;
    transition: all 0.5s;
}

.rnames {
	color: white;
	transition: 2s all;
}

.rnames:hover {
	
}